# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Node
node_modules/

# Environment files
.env

output.json
symbols.json
call_graph.json
faiss_code.index
bm25_code.pkl
index_meta.json
index_info.json
faiss_style.index
eval.py
90MB models
.cache